*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
}
header{
    width: 100%;
    padding: 20px 40px;
    display:flex;
    justify-content: space-between;
    padding: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo {
    margin-left: 60px;
    margin-top: 55px;
    font-weight: bold;
    font-size: 25px;
    color: #C0BFBE;
}
.menu ul{
    margin-left: -1000px;
    margin-top: 37px;
    display: flex;
    gap: 48px;
    font-size: 19px;
    font-weight: bold;
    color:#C0BFBE;
}
.menu ul li{
    display: flex;
    align-items: center;
}
.menu ul li img{
    margin-top: -10px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
    object-fit: contain;
}
.menu ul li img.carrinho{
    width: 50px;
    height: auto;
}
.menudenavegacaoo{
    margin-left: -80px;
    margin-top: -53px;
    display: flex;
    gap: 48px;
}

.fundo{
    height: 100vh;
}






