*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #252525, #494949);
    font-family: 'Karla', sans-serif;
}
header{
    width: 100%;
    padding: 20px 40px;
    display:flex;
    justify-content: space-between;
    padding: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo {
    margin-left: 60px;
    margin-top: 55px;
    font-weight: bold;
    font-size: 18px;
    color: #C0BFBE;
}
.menu ul{
    margin-left: -1000px;
    margin-top: 37px;
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-weight: bold;
    color:#C0BFBE;
}
.menu ul li{
    display: flex;
    align-items: center;
}
.menu ul li img{
    margin-top: -10px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
    object-fit: contain;
}
.menu ul li img.carrinho{
    width: 50px;
    height: auto;
}
.menudenavegacaoo{
    margin-left: -80px;
    margin-top: -53px;
    display: flex;
    gap: 48px;
}
h1,h2{
    font-size: 128px;
    font-weight: bold;
    margin: 0;
}
h1{
    margin-left: -567px;
    color: #1b1b1b;
    margin-top: 10px;
    margin-bottom: 100px;
    filter: blur(2px);
}
h2{
    margin-left: 410px;
    color: #2e2e2e;
    padding-bottom: -1px;
    margin-bottom: -1px;
    filter: blur(2px);
}
.degrade {
    position: absolute;  /* Permite posicionar a imagem em um local específico */
    bottom: 0;           /* Coloca a imagem na parte inferior */
    left: 0;             /* Coloca a imagem na parte esquerda */
    width: auto;         /* Mantém a largura original da imagem */
    height: auto;        /* Mantém a altura original da imagem */
    margin: 0;          /* Remove margens */
    z-index: -1;        /* Coloca a imagem atrás de outros elementos, se necessário */
}







